# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CLionProjects233\cudaclion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
